/* ALL PROPERTIES */
#Title{
    display: flex;
    justify-content:space-between;
    margin-left: 0.5%;
    margin-right: 0.5%;
}
body{
    background-color: rgb(218, 218, 218);

}
input{
    border-style: solid;
    text-align: center;
}
button{
    border-style: solid;
}

/* -------------------------------------------- SPECIFIC PROPERTIES -------------------------------------------- */

/* ---------------------- EXAMPLES ----------------------  */
#example{
    border-style: groove;
    text-align: center;
}
#example h1{
    font-size: 200%
}
#example #exampleDisplay{
    width: 85%;
    height: 100px;
    font-size: 200%;
    margin-bottom: 5px;
}
#example #stepDisplay{
    width: 85%;
    height: 100px;
    font-size: 200%;
    margin-bottom: 5px;
}
#example button{
    width: 28.333%;
    height: 100px;
    font-size: 200%;
    justify-content: center;
}
#example #explainDisplay{
    font-size: 150%
}

/* ---------------------- PRACTICE---------------------- */
#practice{
    border-style: groove;
    text-align: center;
}

/* HEADING DROPDOWN BOX */
#practice #heading{
    margin:0%;
    padding:0%;
    width: 100%;
}
#practice #heading h1{
    display:block;
    margin:0%;
    margin-top:5px;
    margin-bottom:5px;
}
#practice #heading input{  /* to put the checkboxes back to normal*/
    width: auto;
    height: auto;
}
#practice .problemSelections{
    width: 100%;
    margin:0;
    padding:0;
    display:none;
}
#practice #heading li{
    display:block;
}
#heading:hover ul.problemSelections{
    display:block;
}
/* HEADING DROPDOWN BOX */

#practice #inputs{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
#practice input{
    width: 85%;
    height: 100px;
    font-size: 200%;
    margin-bottom: 5px;
}
 #practice #buttons{ 
    display: flex;
    justify-content: center;
}
#practice button{
    width: 28.333%;
    height: 100px;
    font-size: 200%;
    margin:2.5px 2.5px 2.5px 2.5px;
}